<h1>Welcome to Car Rentals! Your one stop shop to renting cars!</h1>
<div>
  <form action="#" method="get">
  <!-- Add your 4 elements here -->
  <input type="text" name="location" placeholder="Location">
  <input type="date" name="start_date" >
  <input type="date" name="end_date" >
  <button type="submit" >Search</button>
  </form>
</div>
<ul>
  <% @cars.each do |car| %>
  <li class="border border-gray-300 rounded p-4 mb-4">
    <p><%= car.title %></p>
    <p><%= car.brand %></p>
    <p><%= car.year %></p>
    <%= link_to  "View details to see availability", car_path(car) %>
  </li>
  <% end %>
</ul>
