<h1>Welcome to Car Rentals! Your one stop shop to renting cars!</h1>
<h2>Pick a car to view details</h2>

<ul>
  <% @cars.each do |car| %>
  <li>
    <p><%= car.title %></p>
    <p><%= car.brand %></p>
    <p><%= car.year %></p>
    <%= link_to  "View details", car_path(car) %>
  </li>
  <% end %>
</ul>
